
<div class="w3-content" style="max-width:1100px">

  <!-- About Section -->
  <div class="w3-row w3-padding-64" id="about">
    <div class="w3-col m6 w3-padding-large w3-hide-small">
     <img src="../assets/img/comida_mexicana_6221_620x413.jpg" class="w3-round w3-image w3-opacity-min" alt="Table Setting" width="600" height="750">
    </div>

    <div class="w3-col m6 w3-padding-large">
      <h1 class="w3-center">Acerca de "Don Cris"</h1><br>
      <h5 class="w3-center">Tradiccion desde 1889</h5>
      <p class="w3-large">Todo comenzo en 1889 cuando a "Don cris " le gustaba mucho investigar las comidas de diferentes paises , un dia cuando el  viajaba como de costumbre "Don Cris " se topo con la comida mexicana y quedo enamorado</p>
      <p class="w3-large w3-text-grey w3-hide-medium">Desde el dia 1 que probo la comida penso en hacer un restaurante de comida mexicana y al mes siguiente puso su propio restaurante.<br> <br> La mejor comida mexicana en Nueva York</p>
    </div>
  </div>
</div>
  
  <hr>
  