
<div class="w3-container w3-padding-64" id="contact">
  <h1>CONTACTO</h1><br>
  <p>Ofrecemos servicio completo de catering para cualquier evento, grande o pequeño. Entendemos sus necesidades y proporcionaremos los alimentos para satisfacer los criterios más exigentes de todos, tanto el aspecto como el sabor. No dude en ponerse en contacto con nosotros.</p>
  <p class="w3-text-blue-grey w3-large"><b>Catering Service, 42nd Living St, 43043 New York, NY</b></p>
  <p>ESCRIBE A NUESTRO CORREO DONCRIS@HOTMAIL.COM</p>
  <form action="/action_page.php" target="_blank">
    <p><input class="w3-input w3-padding-16" type="text" placeholder="escribe tu nombre" required name="Name"></p>
    <p><input class="w3-input w3-padding-16" type="number" placeholder="tu reservacion" required name="People"></p>
    <p><input class="w3-input w3-padding-16" type="datetime-local" placeholder="escribe la hora " required name="date" value="2017-11-16T20:00"></p>
    <p><input class="w3-input w3-padding-16" type="text" placeholder="Mandanos un mensaje" required name="Message"></p>
    <p><button class="w3-button w3-light-grey w3-section" type="submit">GUARDA TU MENSAJE</button></p>
  </form>
</div>

<!-- End page content -->
</div>

<!-- Footer -->
<footer class="w3-center w3-light-grey w3-padding-32">
<p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a></p>
</footer>